# Data Science Tools and Ecosystem
**En este cuaderno, se resumen las herramientas y ecosistemas de ciencia de datos.**

**Objetivos:**

- Crear un cuaderno de Jupyter
- Crear una celda de markdown con el título del cuaderno
- Crear una celda de markdown para una introducción
- Crear una celda de markdown para listar lenguajes de ciencia de datos
- Crear una celda de markdown para listar bibliotecas de ciencia de datos
- Crear una celda de markdown con una tabla de herramientas de ciencia de datos
- Crear una celda de markdown introduciendo ejemplos de expresiones aritméticas
- Crear una celda de código para multiplicar y sumar números
- Crear una celda de código para convertir minutos a horas


**Algunos de los lenguajes populares que utilizan los científicos de datos son:**

1. Python
2. R
3. SQL
4. Julia


**Algunas de las bibliotecas comúnmente utilizadas por los científicos de datos incluyen:**

1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-Learn

| Herramientas de Ciencia de Datos |
|----------------------------------|
| Jupyter Notebook                 |
| RStudio                          |
| Apache Zeppelin                  |

### A continuación, se presentan algunos ejemplos de evaluación de expresiones aritméticas en Python:

1. **Suma**:  
   ```python
   5 + 3  # Resultado: 8
___
2. **Resta**:
    ```python
   10 - 4  # Resultado: 6
___
3. **Multiplicación**:
    ```python
   7 * 2  # Resultado: 14
___
4. **División**:
    ```python
   20 / 5  # Resultado: 4.0

In [47]:
# Esta es una expresión aritmética simple para multiplicar y luego sumar enteros
expresion = (3 * 4) + 5
print(f"El resultado de la operacion es: {expresion}")

El resultado de la operacion es: 17

In [51]:
# Esto convertirá 200 minutos a horas dividiendo por 60
minutos = 200
horas = minutos / 60
print(f"200 minutos equivalen a {horas} horas")

200 minutos equivalen a 3.3333333333333335 horas

## Autor
Hernan Colman